{
    "presets": [
      [
        "next/babel",
        {
          "styled-jsx": {
            "plugins": [
              "styled-jsx-plugin-sass"
            ]
          }
        }
      ]
    ],
    "plugins": [
      [
        "styled-jsx/babel",
        {
          "plugins": [
            ["styled-jsx-plugin-sass", {
                "sassOptions": {
                  "includePaths": ["./styles"],
                  "precision": 2
                }
              }
            ]
          ]
        }
      ],
      ["transform-define", "./env-config.js"]
    ]
}